<h2><strong>Hey!</strong> <br> What's happening today?</h2>


<div class="panel panel-danger">
<% @today_concerts.each do |concert| %>
  <div class="panel-heading">
    <h3><%= link_to(concert.band, concert_path(concert.id))%></h3>
  </div>
  <div class="panel-body">
    <p><strong>Date:</strong><%= " #{concert.date}" %></p>
    <p><strong>Where: </strong><%= "#{concert.venue}, #{concert.city}"%></p>
    <p><strong>How much:</strong><%= " #{concert.price} €"%></p>
    <p><strong>Tell me more:</strong><%= " #{concert.description}" %></p>
  </div>
  <% end %>
</div>


